fastapi
uvicorn[standard]
streamlit
pandas
pymupdf
python-multipart
chromadb
llama-index
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
sentence-transformers
pytest
tabulate
Pillow
ollama
langgraph
gunicorn